
body {
    background-color:  #f5f5f5;
}

.chat-container{
    /* border: rgb(235, 235, 235) 5px solid; */
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
}
.chat-box {
    padding: 10px;
    background-color: #f5f5f5;
}

.chat-box textarea{
    width:100%;
    resize: none;
    border: none;
    margin-bottom: 20px;
}
.chat-box input{
    width:100%;
    resize: none;
    border: none;
    margin-bottom: 5px;
}


.chat-body {
    min-height: 400px;
    background-color: white;
    
    margin-bottom: 20px;
    padding-top: 20px;
    box-shadow: 0 -1px 0 rgba(0,0,0,0.12) inset;
}
.chat{
    padding: 10px;
    border-top: rgb(235, 235, 235) 1px solid;
    transition: .5s all ease;
}

.chat:first-child {
    border-top: none;
}

.chat:hover {
    background:#f1f0f0
}

.chat > .sender, .chat > .message-body{
    display: inline-block;
}
.sender::after{
    content: ": "
}
.chat > .sender {
    margin-right: 10px;
    font-weight: bold;
}
.message-date{
    float: right;
}